{% extends '::frontend.html.twig' %}

{% block javascripts%}
{% javascripts output='static/system/js/sell.contact.js'
                   '@BannerOrderBundle/Resources/public/js/Frontend/banner.js'
                   %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock%}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Descrição</th>
                <th>Dt.Criação</th>
                <th>Expira</th>
            </tr>
{% for order in orders %}
            <tr>
                <td>{{order.id}}</td>
                <td><a href="{{path('_order_order_edit',{'username':order.user.username, 'name':order.name})}}">{{order.name}}</a></td>
                <td>{{order.formatCreated()}}</td>
                <td>{{order.formatExpires()}}</td>
            </tr>
  {% else %}
                <tr><td colspan="5">{{ "Nenhuma página encontrada!"|trans }}</td></tr>
  {% endfor %} 
        </table>
    </div>
</div>
{% endblock %}