{% extends '::frontend.html.twig' %}

{% block stylesheets %}
  <!-- CSS Tema -->
  {% stylesheets '@BannerOrderBundle/Resources/public/css/Frontend/*.css' filter='?yui_css' output='themes/banner/css/banner2.css' %}
   <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts%}
{% javascripts output='static/system/js/sell.contact.js'
                    '@BannerOrderBundle/Resources/public/js/Frontend/banner.js'
                   %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock%}

{% block content %}
<script>
    var maxUpload = {{mastop_param('order.order.UploadOrder')}};
    var maxBanner = 10;
</script>

<div id="maxUpload" hidden="hidden">{{mastop_param('order.order.UploadOrder')}}</div>
<div class="tabbable">
    <ul class="nav nav-tabs">  
        <li{% if( pgatual == "pedido") %} class="active"{% endif %}><a class="guide" rel="tooltip" title="Dados do pedido" href="#pedido" data-toggle="tab">Pedido <i class="icon-question-sign"></i></a></li>
        <li{% if( pgatual == "historico") %} class="active"{% endif %}><a class="guide" rel="tooltip" title="Conversação do cliente e o designer" href="#historico" data-toggle="tab">Histórico {% if badges > 0 %}<span class="badge badge-important">{{badges}}</span>{% endif%} <i class="icon-question-sign"></i></a></li>
        <li{% if( pgatual == "aprovacao") %} class="active"{% endif %}><a class="guide" rel="tooltip" title="Arquivos enviados e para aprovação" href="#aprovacao" data-toggle="tab">Para aprovação <i class="icon-question-sign"></i></a></li>
        <li{% if( pgatual == "aprovados") %} class="active"{% endif %}><a class="guide" rel="tooltip" title="Arquivos aprovados e finalizados"  href="#aprovados" data-toggle="tab">Aprovados <i class="icon-question-sign"></i></a></li>
    </ul>
    <div class="tab-content">
        <!-- Pedido -->
        <div class="tab-pane{% if( pgatual == "pedido") %} active{% endif %}" id="pedido">
            <div class="container-fluid span10">
                <div class="row">
                    <div class="span10">
                        <table class="table">
                            <tr>
                                <th class="span2">
                                    #{{order.getId()}}
                                </th>
                                <th class="span3">{{order.name}}</th>
                                <th class="span2">Criado: {{order.formatCreated()}}</th>
                                <th class="span2">Finalizar em: {{order.formatFinal()}}</th>
                                <th class="span2">Expira: {{order.formatExpires()}}</th>
                                {% if (order.user == app.user)%}
                                {% endif %}
                            </tr>
                            <tr>
                                <td rowspan="2" class="span4">
                                    <div id="myCarousel" class="carousel slide">
                                        <!-- Carousel items -->
                                        <div class="carousel-inner " height="250">
                                        {%set i = 0 %}
                                        {% for upload in order.upload %}
                                                <div class="item {% if (i==0)%}active{%endif%}">
                                                    <a href="{{upload.getWebPath()}}{{upload.getPath}}" rel="facebox" >
                                                        <img src="{{ upload.getAddress() | apply_filter('order') }}"/>
                                                    </a>
                                                {%set i = i + 1 %}
                                                </div>
                                        {% endfor %}
                                        </div>
                                        {% if (i>1) %}
                                    </div>                            
                                        <a class="btn" href="#myCarousel" data-slide="prev"><</a>
                                        <a class="btn" href="#myCarousel" data-slide="next">></a>
                                        {% endif %}
                                </td>
                                <td colspan="5">
                                {{order.notes}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    {% for banner in order.banner %}
                                        {{banner.width}}x{{banner.height}}
                                    {% if banner.psd %}
                                                    com PSD
                                    {% endif %}
                                        <br />
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Histórico -->
        <div class="tab-pane{% if( pgatual == "historico") %} active{% endif %}" id="historico">
            <div class="container-fluid span10">
                <div class="row">
                    <div class="span10">
                        <table class="table">
                            {%set t = 0 %}
                            {% for talk in order.talk %}
                            <tr> 
                                <th class="span3">{{talk.formatCreated()}}</th>
                                <th>{{talk.user.username}}</th>
                            </tr>
                            <tr>
                                <td class="span3">
                                    <div id="talk{{t}}" class="carousel slide">
                                        <!-- Carousel items -->
                                        <div class="carousel-inner">
                                            {%set i = 0 %}
                                            {% for upload in talk.upload %}
                                            <div class="item {% if (i==0)%}active{%endif%}">
                                                <a href="{{upload.getWebPath()}}{{upload.getPath}}" rel="facebox" >
                                                    <img id="{{upload.id}}" src="{{upload.getAddress() | apply_filter('talk') }}">
                                                </a>
                                            </div>
                                            {%set i = i + 1 %}
                                            {% endfor%}
                                        </div>
                                        {% if (i>1) %}
                                        <a class="btn left" href="#talk{{t}}" data-slide="prev"><</a>
                                        <a class="btn right" href="#talk{{t}}" data-slide="next">></a>
                                        {% endif %}
                                    </div>
                                </td>
                                <td colspan="2">{{talk.message}}</td>
                            </tr>
                            {%set t = t+1 %}
                            {% else %}
                            <tr> 
                                <td>Não existe comentários para esse pedido</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="span10">
                        <table class="table">
                            <tr>
                                <th colspan="2"><h4>Comentar</h4></th>
                            </tr>
                            <tr>
                                <td>
                                    <form class="block" action="{{ path('_order_order_edit',{'username':user.username, 'name':order.name, 'pgatual':"historico"}) }}" method="post" {{ form_enctype(formUpload)}} >
                                        <input type="hidden" value="{{order.name}}" name="order">
                                        <input type="hidden" value="10" id="maxUpload">
                                        {{ form_widget(formTalk) }}
                                        <div id="upload">
                                            <div id="upload_file0">
                                                <spam id="upload0"></spam>
                                                <input id="upload_file[0]" class="upload" type="file" name="upload[0]">
                                            </div>
                                        </div>
                                        <div><br><button class="button green m10"><span>Enviar</span></button> <a href="#" onclick="javascript:history.go(-1); return false;">Cancelar</a></div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Para aprovação -->
        <div class="tab-pane{% if( pgatual == "aprovacao") %} active{% endif %}" id="aprovacao">
            <div class="container-fluid span10">
                <div class="row-fluid">
                    <div class="span12">
                        <table class="table">
                            <tr>
                                <th>Linguagem Visual</th>
                            </tr>
                            <tr>
                                <td>
                                    {%set aproved = false %}
                                    <table class="table table-striped">
                                        <form action="{{ path('_order_order_vlanguage') }}" method="post" >
                                            <input type="hidden" value="{{order.name}}" name="order">
                                            {% for pending in order.vLanguage |reverse %}
                                            <tr>
                                                <td>    
                                                    {% if (pending.aproved != "false" and pending.aproved != "true" and order.user == app.user) %}
                                                    <input type="radio" name="lvisual" value="{{pending.getId()}}" />
                                                    {%set aproved = true %}
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                    <a href="{{pending.getWebPath()}}{{pending.getPath}}" rel="facebox" >
                                                        <img id="imageprin" src="{{ pending.getAddress() | apply_filter('order') }}" {% if(pending.aproved == "false") %}class="disab"{% endif %}><br />
                                                    </a>
                                                </td>
                                            </tr>
                                            {%set t = 1 %}
                                            {% else %}
                                                Não há linguagem visual para aprovação
                                            {% endfor %}
                                            <tr><td colspan="2">
                                                {% if (aproved == true and order.user == app.user) %}
                                                <div><button class="button green m10"><span>Enviar</span></button></div>
                                                {% endif %}
                                            </td></tr>
                                        </form>
                                    </table>
                                        
                                    {% if (order.designer == app.user) %}
                                    <form class="block" action="{{ path('_order_order_lvisual') }}" method="post" {{ form_enctype(formUpload)}} >
                                        <input type="hidden" value="{{order.name}}" name="order">
                                        <input type="hidden" value="{{ 3-( order.vlanguage | length ) }}" id="maxLing">
                                        {% if( (3-( order.vlanguage | length )) > 0 )  %}
                                        <div id="ling">
                                            <spam id="ling0"></spam>
                                            <input id='ling[0]' type='file' class='ling' name='ling[0]' ><br />
                                        </div>
                                        <div><button class="btn"><span>Enviar</span></button></div>
                                        {% endif %}
                                    </form>     
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Banners</th>
                            </tr>
                            <tr>
                                <td>
                                    <form action="{{ path('_order_order_banner') }}" method="post" >
                                        <input type="hidden" value="{{order.name}}" name="order">
                                        <table class="table table-striped">
                                        {%set t = 0 %}
                                        {%set cont = 0 %}
                                            {% for pending in pendings |reverse %}
                                                <tr>
                                                <td class="span3">
                                                <a href="{{pending.getWebPath()}}{{pending.getPath}}" rel="facebox" >
                                                    <img id="imageprin" src="{{ pending.getAddress() | apply_filter('order') }}"><br />
                                                </a>
                                                </td>
                                                <td>
                                                {% if(pending.aproved == "false")%}
                                                    {%set cont = cont + 1 %}
                                                    <h5> Recusado pelo cliente: </h5>
                                                    {{ pending.justify }}
                                                {% endif %}
                                                </td>
                                            </tr>
                                            {% if(pending.aproved == "" and order.user == app.user)%}
                                                <tr>
                                                    <td>
                                                        {%set t=1 %}
                                                        <input type="radio" name="{{pending.getId()}}" value="true" id="{{pending.getId()}}" class="rmjust"/> Aceitar<br />
                                                        <input type="radio" name="{{pending.getId()}}" value="false" id="{{pending.getId()}}" class="just" /> Recusar<br />
                                                        <div id="just{{pending.getId()}}" >
                                                        </div>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% else %}
                                                Não há banners para aprovação
                                            {% endfor %}
                                             
                                        </table>
                                            {% if (order.user == app.user and t == 1 ) %}
                                            <div><button class="button green m10"><span>Enviar</span></button></div>
                                            {% endif %}
                                    </form>
                                    {% if (order.designer == app.user) %}
                                    <form class="block" action="{{ path('_order_order_preview') }}" method="post" {{ form_enctype(formUpload)}} >
                                        <input type="hidden" value="{{order.name}}" name="order">
                                        <input type="hidden" value="{{ order.banner | length - order.preview | length + cont }}" id="maxPreview">
                                        {% if( (order.banner | length - order.preview | length  + cont) > 0 )  %}
                                        <div id="banner">
                                            <spam id="banner0"></spam>
                                            <input id='banner[0]' type='file' class="banner" name='banner[0]' ><br />
                                        </div>
                                        <div><button class="button green m10"><span>Enviar</span></button></div>
                                        {% endif %}
                                    </form>     
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Aprovados -->
        <div class="tab-pane{% if( pgatual == "aprovados") %} active{% endif %}" id="aprovados">
            <div class="container-fluid span10">
                <div class="row-fluid">
                    <div class="span12">
                        <table class="table">
                            {% if(order.aproved == "true") %}
                            <tr>
                                <th>
                                    Arquivo final
                                </th>
                            </tr>
                            {% if(order.final) %}
                            <tr>
                                <td>
                                    <a href="{{order.final.getWebPath()}}{{order.final.getPath}}">
                                        <i class="icon-download-alt"></i> Download
                                    </a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>
                                    {% if (order.designer == app.user or is_granted('ROLE_SUPERADMIN')) %}
                                    <form action="{{ path('_order_order_final') }}" method="post" {{ form_enctype(formUpload)}}>
                                        <input id='order' type='hidden' name='order' value='{{order.name}}' ><br />
                                        <input id='final' type='file' name='final' ><br />
                                        <input id='enviar' class="btn" type='submit' value='Enviar' ><br />
                                    </form>
                                    {% else %}
                                        Ainda não foi enviado o arquivo final.
                                    {% endif %}    
                                </td>
                            </tr>
                            {% endif %}
                            {% endif %}
                            <tr>
                                <th>
                                    Linguagem visual
                                </th>
                            </tr>
                            {% for lvisual in lvisus |reverse %}
                            <tr>
                                <td>
                                    <a href="{{lvisual.getWebPath()}}{{lvisual.getPath}}" rel="facebox" >
                                        <img src="{{ lvisual.getAddress() | apply_filter('order') }}">
                                    </a>
                                 </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>
                                    Não há Linguagem visual aprovada para esse pedido.
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th>
                                    Banners
                                </th>
                                 
                            </tr>
                                    {% for aprove in aproves |reverse %}
                            <tr>
                                <td>
                                    <a href="{{aprove.getWebPath()}}{{aprove.getPath}}" rel="facebox" >
                                        <img id="imageprin" src="{{ aprove.getAddress() | apply_filter('order') }}" >
                                    </a>
                                    {%set t = 1 %}
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>
                                    Não há banners aprovados para esse pedido.
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span11">
        <table>
        {% if (order.status.id != mastop_param('order.order.PayedStatus'))%}
        <tr>
            <td colspan="5">
                <div class="floatR">
                    <a href='{{path('_order_order_pay',{'id':order.id})}}' class='btn'>Pagar</a>
                </div>
                <div class="floatR">
                    <label class="floatR ">
                    Ainda não consta em nosso sistema o pagamento desse pedido. </label>
                        <br />
                    <label class="floatR ">
                    Caso o pagamento ainda não tenha sido efetuado, favor efetuar o pagamento no botão ao lado.
                    </label>
                </div>
            </td>
        </tr>
        {%endif%}
        </table>
    </div>
</div>

{% endblock %}