{# E-mail de confirmação de envio de oferta #}
{% extends '::mail.html.twig' %}

{% block content %}
<h1 style="margin:0;font-weight:bold;font-size:16px;color:#D87D08;">
    {{user.name}}, o pedido número: {{order.id}} foi finalizado!
</h1><br/><br/>
<h3>O pedido foi finalizado</h3>
Foi incluido pelo designer o arquivo final.<br />
<a href='{{path('_order_order_edit',{'username':order.user.username, 'name':order.name, 'pgatual':"aprovados"})}}'>Visualizar</a><br /><br />
<a href="{{path('_home')}}">Webbanner</a>
<br /><br /><br /><br />
<span style="margin:0;font-size:11px;">
Para comentários, sugestões ou reclamações, favor contatar-nos no seguinte endereço: <a href="mailto:{{mastop_param('system.site.adminmail')}}">{{mastop_param('system.site.adminmail')}}</a> 
</span><br/><br/>
{% endblock %}