{% extends '::frontend.html.twig' %}
{% block header %}
<header id="hd">
    <div class="container">
        <div id="Table_header">
            <div id="header-02_">
                <a class="brand" href="#">
                    <div class="span3">
                        <a id="logo" href="{{ path('_home') }}" title="{{ mastop_param('system.site.name') }} - Home">{{ mastop_param('system.site.name') }} - {{ mastop_param('system.site.slogan') }}</a>
                    </div>
                </a>
            </div>
            <div id="header-03_">
                <div class="navbar floatR">
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            {#mastop_menu('system-head', null, null, 0, 'list', {'class':'nav head'})#}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="header-04_">
            </div>
            <div id="header-05_">
            </div>
            <div id="header-06_">
                <div class="navbar">
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="{{path('_home')}}">Home</a></li>
                            <li><a href="{{path('_order_order_work')}}">Nosso Trabalho</a></li>
                            <li><a href="/pg/faq">FAQ</a></li>
                            <li><a href="/fale-conosco">Fale Conosco</a></li>
                            {#mastop_menu('system-main', null, null, 0, 'list', {'class':'nav menu'})#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
{%endblock header%}
{% block bodyClass %}
notlogged
{% endblock %}
{% block title %}
{{ "Error 404"|trans }}
{% endblock title %}
{% block content %}
<img class="center" src="/bundles/bannertwig/img/webbanner404.jpg" />
{% endblock content %}
