{% extends '::frontend.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@BannerCoreBundle/Resources/views/themes/banner/Frontend/css/bundles/user/*' filter='?yui_css' output='static/system/css/user.all.css' %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="clear"></div>
<div class="span11">
    <div class="tabbable">
        <!-- the tabs -->
        <ul class="nav nav-tabs">
            {% set i = 0%}
            {% for k, tabs in tabs %}
            <li{% if (i == 0) %} class="active"{% endif%}>
                <a href="#{{k}}">{{tabs}}</a>
            </li>
            {% set i = 1%}
            {% endfor %}
        </ul>

        <!-- tab "panes" -->
        <div class="tab-content">
            {% set i = 0%}
            {% for k, pane in panes %}
            <div class="tab-pane{% if (i == 0) %} active{% endif%}" id="{{k}}">
                {% render pane %}
            </div>
            {% set i = 1%}
            {% endfor %}
            <div class='clear'>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascriptsHead %}
    {% javascripts output='static/system/js/core.abas.js'
                   '@BannerCoreBundle/Resources/public/js/tabs/jquery.tools.min.js'
                   '@BannerUserBundle/Resources/public/js/Frontend/dashboard.js'
                   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}